#welcomeRoot {

    -fx-background-image: url("../images/welcomeviewbackground.jpg");
    -fx-background-size: cover;
}
#loginRoot {

    -fx-background-image: url("../images/login.jpg");
    -fx-background-size: cover;
}


.menu-button {

    -fx-background-color: transparent;
    -fx-border-color: rgba(255, 255, 255, 0.3);
    -fx-border-width: 1px;
    -fx-text-fill: rgba(255, 255, 255, 0.5);

    -fx-transition: all 0.2s ease-in-out;
}

.menu-button:hover {
    -fx-border-color: white;
    -fx-text-fill: white;

    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 10, 0, 0, 0);
}

.menu-button:pressed {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-effect: dropshadow(gaussian, white, 20, 0.8, 0, 0);
}

#paddleView {
    -fx-fill: linear-gradient(from 0% 0% to 0% 100%, #d0d0d0, #606060);
    -fx-stroke: black;
    -fx-stroke-width: 1;
    -fx-arc-width: 10;
    -fx-arc-height: 10;
}

#ballView {

    -fx-fill: radial-gradient(
        center 30% 30%,
        radius 60%,
        #ffffcc,
        #ffcc00
    );
    -fx-stroke: #b0a000;
    -fx-stroke-width: 1;
}


